{% extends "base.html" %}

{% block title %}Lista de Frutas{% endblock title %}

{% block content %}
    <h1 style="text-align: center:">Lista de Frutas</h1>  
    <hr>
    <ul class="list-group">
        {% for fruta in frutas %}
            <li class="list-group-item">{{fruta}}</li>
        {% endfor %}
    </ul>
    <br>
    <form action="{{ url_for('principal') }}" method="POST">
        <div class="form-group">
            <label for="exemploFruta">Fruta:</label>
            <input class="form-control" id="exemploFruta" type="text" name="fruta" placeholder="Digite o nome de uma fruta" required>

        </div>
        <br><br>
        <button class="btn btn-success">Adicionar fruta</button>
    </form>
{% endblock content %}
